.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: rgba(#f2f3f4, 1);
  //background: rgb(88, 95, 95);
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  transition: all 0.5s ease;
  overflow: scroll;
  h2 {
      padding: 2rem;
  }
}

.library-song {
display: flex;
align-items: center;
background: rgba(#f2f3f4, 1);
padding: 1rem 2rem 1rem 2rem;;
cursor: pointer;
transition: all 0.75s ease-out;
img {
    width: 30%;
    }
    &:hover {
        background: rgb(235, 235, 235);
    }
}

.song-description {
    padding-left: 1rem;
    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.7rem;
    }
}

 * {
     scrollbar-width: thin;
     scrollbar-color: rgba(155,155,155,0.5) transparent;
 }

 *::-webkit-scrollbar {
     width: 5px;
 }
 *::-webkit-scrollbar track {
     background: transparent;
 }
 *::-webkit-scrollbar {
     background-color:  rgba(155,155,155,0.5);
     border-radius: 20px;
     border: transparent;
 }

 .selected {
     background: violet;
 }